@model IEnumerable<WebApp.Models.Discipline>

    <table class="table table-sm table-primary w-auto align-middle caption-top">
        <caption>
            <span class="h5 text-black">Дисциплины</span>
            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#discModal" onclick="setDiscForm(-1, '', '', '')">Добавить</button>
            @if (ViewBag.DiscError != null)
            {
                <span class="h5 text-danger">@ViewBag.DiscError</span>
                ViewBag.DiscError = null;
            }
        </caption>
    @foreach (Semester semester in ViewBag.Semesters)
    {
        <thead>
            <tr>
                <th colspan="2">
                    @semester.Caption
                </th>
            </tr>
        </thead>
            @foreach (var module in Model.Where(d => d.Semester == semester.Id).GroupBy(d => d.Module).OrderBy(m => m.Key.Id))
            {
                <thead>
                    <tr>
                        <th colspan="2">
                            @string.Format("{0} {1}", module.Key.ModuleCode, module.Key.ModuleName)
                        </th>
                    </tr>
                </thead>
                @foreach (var practiceType in module.GroupBy(d => d.PracticeType))
            {
                @if (practiceType.Key != null)
                {
                    <thead>
                        <tr>
                            <th colspan="2">
                                @practiceType.Key.PracticeTypeName
                            </th>
                        </tr>
                    </thead>
                }
                <tbody>
                    @foreach (var disc in practiceType.OrderBy(d => d.Id))
                    {
                        <tr>
                            <td>
                                @disc.DisciplineName
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#discModal" onclick="setDiscForm(@disc.Id, @disc.ModuleId, '@disc.DisciplineName', @disc.Semester)">Редактировать</button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmation" onclick="setRecordForDeletion('Discipline', @disc.Id)">Удалить</button>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        }
    }
</table>
