@model WebApp.Models.Examination

<div id="@string.Format("edit{0}",@Model.Id)" style="display : none;">
    <input type="number" min="2" max="5" class="form-control m-0 p-0 input-sm" size="1" value="@Model.Id" onblur="endEdit(@Model.Id)" />
</div>
<div id="@string.Format("label{0}",@Model.Id)" class="cursor-pointer w-100 h-100 p-1" ondblclick="beginEdit(@Model.Id)">@Model.Mark</div>
