@model IEnumerable<WebApp.Models.DisciplineModule>

    <table class="table table-sm table-primary w-100 align-middle caption-top">
        <caption>
            <span class="h5 text-black">Модули</span>
            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#moduleModal" onclick="readyModuleForm(-1, @ViewBag.SpecialityId, '', '')">Добавить</button>
            @if (ViewBag.ModuleError != null)
            {
                <span class="h5 text-danger">@ViewBag.ModuleError</span>
                ViewBag.ModuleError = null;
            }
        </caption>
        <thead>
            <tr>
                <th>Код</th>
                <th>Название</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DisciplineModule module in Model)
            {
                <tr>
                    <td>@module.ModuleCode</td>
                    <td>@module.ModuleName</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#moduleModal" onclick="readyModuleForm(@module.Id, @module.SpecialityId, '@module.ModuleCode', '@module.ModuleName')">Редактировать</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmation" onclick="setRecordForDeletion('DisciplineModule', @module.Id)"><img src="/images/trash.png" /></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
